@font-face {
    font-family: 'One Piece';
    src: url('/assets/fonts/OnePiece.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Regular'), url('/assets/fonts/Poppins-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Poppins ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins ExtraLight'), url('/assets/fonts/Poppins-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/assets/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
}

