.chart-svg {
    width: 30px;
    height: auto;
}

.pie-wrap {
}

.pies {
    overflow: hidden;
    border: 2px solid lightgrey;
    width: 30vw;
    height: 30vw;
    margin: 10% 50px;
    position: relative;
    border-radius: 50%;
    color: black;
}

.pies .entry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* *the individual entries* */

.css {
    background-color: rgba(136, 138, 139, 0.459);
    height: 50%;
    width: 50%;
    display: block;
}

.html {
    background-color: lightyellow;
    height: 50%;
    width: 50%;
}

.react {
    background-color: pink;
    height: 50%;
    position: absolute;
    top: 0px;
    right: 0;
    width: 50%;
    clip-path: polygon(0 0, 100% 0%, 0% 100%);
}

.js {
    background-color: purple;
    height: 50%;
    width: 50%;
    right: 0;
    top: 0;
    position: absolute;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
}

.tailwind {
    background-color: limegreen;
    height: 50%;
    width: 50%;
    right: 0;
    top: 50%;
    position: absolute;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
}

.ts {
    background-color: wheat;
    height: 50%;
    width: 50%;
    right: 0;
    top: 50%;
    position: absolute;
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
}

.pies .purple img{
    position: absolute;
    top: 140px;
    color: white;
}

.pies .purple p:first-child {
    top: 120px;
}

.pies .green img {
    position: absolute;
    top: 20px;
}

.pies .green p:first-child {
    top: 0px;
}

.pies .pink img,
.pies .wheat img{
    position: absolute;
    left: 20px;
    top: 80px;
}

.pies .pink,
.pies .wheat {
    justify-content: flex-start;
}

.pies .pink p:first-child,
.pies .wheat p:first-child {
    top: 100px;
}
.entry .entry-value{
    display: none;
    transition: all 500ms linear;
}
.entry:hover .entry-value{
    display: block;
}
.entry{
    transition: all 500ms linear ;
}
.entry:hover{

    filter: invert();
}

.tooltip {
    z-index: 10;
    position: absolute;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    display: none; /* Initially hidden */
    pointer-events: none; /* Prevent interaction with the tooltip */
}
