@font-face {
    font-family: 'One Piece';
    src: url('../assets/fonts/OnePiece.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Regular'), url('../assets/fonts/Poppins-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Poppins ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins ExtraLight'), url('../assets/fonts/Poppins-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
}



:root {
    --border-rd: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

body {
    font-family: "One Piece", sans-serif;
    overflow-x: hidden;
    white-space: nowrap;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

li:not(.exp-ul > li) {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

header {
    z-index: 100;
    left: 50vw;
    position: fixed;
    padding: 0.5rem;
    font-size: 22px;
    transform: translateX(-50%);

    nav {

        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 4rem;
        padding: 1.5rem 3rem;
        margin: auto;
        width: fit-content;
        background-color: rgba(176, 176, 176, 0.259);
        display: flex;
        justify-content: center;
    }

    .nav-list {
        display: flex;
        gap: 0.5rem;

    }

    li {
        list-style: none;
    }
}

/*TEST*/


/*===============================================    CANVAS   ===============================================*/
#canva {
    position: absolute;
    top: 0;
    z-index: -10;
}

/*=============================================== CUSTOM UTIL ===============================================*/
.sm-btn {
    padding: 1px 6px;
    margin-top: 3px;
    border-radius: 8px;
    border: 1px solid #000;
}

.sm-btn:hover {
    padding: 2px 7px;
}

/*=============================================== HERO SECTION ===============================================*/
#hero {
    padding: 5rem 0;
    height: 100vh;
    color: #000;
    text-align: center;

    .text-box {
        height: fit-content;

        /* border: 1px solid #000; */
        padding-top: 20vh;

        h2 {
            font-size: 100px;
            text-transform: uppercase;
        }

        span {
            font-size: 40px;
            font-weight: 600;
            opacity: 85%;
        }

        p {
            font-size: 20px;
        }
    }

    .hero-pic {
        height: fit-content;
        position: relative;
        /* border: 1px solid #000; */
        width: 32vw;

        >img {
            margin-top: -6px;
            position: absolute;
            left: 39%;
        }

        /* top: 22.5vh; */
    }
}

/*=============================================== EXPERIENCE SECTION =============================================== */
#exp {
    height: 100vh;
    font-family: 'Space Grotesk';
    font-size: 16px;
    line-height: 23px;
    /* width: 100%; */

    >h1 {
        font-weight: bold;
        text-align: left;
        margin: 3.5rem 0;
        font-size: 4rem;
    }

    .wrapper {
        padding: 2rem;
        /* border-radius: var(--border-rd);
        background-color: #8080805c; */
        display: flex;
        gap: 3rem;

    }

    .scroll-line {
        width: 0px;
        opacity: 0.5;
        border: 1.5px solid black;
        border-radius: var(--border-rd);
    }

    .exp-content {
        width: 60vw;

        .exp-info+.exp-info {
            margin-top: 1.5rem;
        }

        .exp-ul>li {

            width: fit-content;
            text-wrap: wrap;

        }
    }

}

/* =============================================== PROJECTS =============================================*/
#projects {
    height: 100vh;

    .projects-wrapper {
        display: flex;
    }

    .slider {
        flex: 80%;

        display: flex;
        position: relative;
        height: 70vh;
        width: 60vw;
        overflow: hidden;
    }

    .project-img {
        position: absolute;

        width: 100%;
        left: 100%;
        opacity: 0;

        transition: all 0.5s ease-in-out;

        border-radius: var(--border-rd);
    }

    .project-img.active {
        left: 0;
        opacity: 1;
        z-index: 10;
    }

    .project-img.previous {
        left: -100%;
        opacity: 0.2;
    }

    .project-img.next {
        left: 100%;
        opacity: 0.2;
    }

    .description {
        flex: 20%;
    }



}